<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.html %}
  <body>
	<!-- <script>
	    var lang = navigator.language || navigator.userLanguage;
	    if (lang.indexOf('zh') == 0)
	        window.location = '/zh';
	</script> -->
    {{ content }}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    {% include apple.html %}
    {% include analytics.html %}
  </body>
</html>
